{% extends "global/Page.html" %}

{% block content %}
    {#content#}
    <div class="container fade-in" id="main">
        <div class="row">
            <div class="col">
                <div style="margin-left: 35%;color: gray;font-weight: bolder;">You <br> ↙ </div>
                <div class="box" style="float: left">
                    <img src="{% static player_character %}">
                        <div class="text-centered">{{ player_multiplier }}</div>
                </div>
            </div>
            <div class="col">
                <div style="margin-left: 55%;color: gray;font-weight: bolder;">Other player<br> ↘ </div>
                <div class="box" style="float: right">
                    <img style="-webkit-transform: scaleX(-1);transform: scaleX(-1);" src="{% static opponent_character %}">
                        <div style="left: 6%" class="text-centered">{{ opponent_multiplier }}</div>
                </div>
            </div>
        </div>
    </br>
    </br>
    </br>
    </br>
        <p>
        {% if player.see_opponent_type %}
        The other player multiplier is {{ player.see_opponent_type }}.
        {% else %}
        The other player did not disclose its multiplier.
        {% endif %}
    </br>
        You've been endowed with {{ Constants.endowment }} points.
        <b>How many points do you want to put in the public pot?</b>

        <p>

        <div id="slider-div">
        </div>
        <div align="center"><button type="button" id="ok" class="drawn-button">CONTRIBUTE</button></div>


{#        <input type="hidden" name="contribution" id="contribution" />#}
{#        <input type="hidden" name="RT" id="RT" />#}

    </div>

    <script>

        $(document).ready(function () {
            let startTime = Date.now();
            let RT;
            let contribution;

            let templateWait = `{{ html }}`;


            // params
            let min = 0;
            let max = 10;
            let step = 1;
            //let question = 'What was the average value of this symbol?'
            let initValue = Math.floor(Math.random() * (8 - 2 + 1)) + 2;
            // generate html
            let sliderHTML = SliderManager.generateSlider({ text: '',
                min: min, max: max, step: step, initValue: initValue});

            appendElement('slider-div', sliderHTML);

            // listen on events
            SliderManager.listenOnSlider({}, function (event) {
                    let value = event.data.slider.val();
                    choice(value, startTime);
            });

            // allows to change value using left and right arrows
            SliderManager.listenOnArrowKeys();


            function choice (value, startTime) {

                RT = Date.now()-startTime;
                contribution = value;

                $('#main').append(templateWait);
                $("#modalWait").modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#modalWait').modal('show');

                var startTime = Date.now();

                setInterval(function () {
                    liveSend(
                        {
                            time: Date.now() - startTime,
                            RT: RT,
                            contribution: contribution
                        });
                }, 2000);

                setInterval(function () {
                    var wait = document.getElementById("wait");

                    if (wait.innerHTML.length >= 3)
                        wait.innerHTML = "";
                    else
                        wait.innerHTML += ".";

                    },
                500);

            }


        });

        function liveRecv(data) {
                if (data===true) {
                    {#console.log('RT = ' + RT);#}
                    {#console.log('contribution = ' + contribution);#}
                    {#$('#RT').val(RT);#}
                    {#$('#disclose').val(disclose);#}
                    $('#main').fadeOut(140);
                    $('#form').submit();
                }
        }




    </script>

    {#content#}

{% endblock %}
