{% extends "global/Page.html" %}
{#{% load otree %}#}

{#{% block title %}#}
{#    Contribute#}
{#{% endblock %}#}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div style="margin-left: 35%;color: gray;font-weight: bolder;">You <br> ↙ </div>
                <div class="box" style="float: left">
                    <img src="{% static player_character %}">
                        <div class="text-centered">{{ player_multiplier }}</div>
                </div>
            </div>
            <div class="col">
                <div style="margin-left: 55%;color: gray;font-weight: bolder;">Other player<br> ↘ </div>
                <div class="box" style="float: right">
                    <img style="-webkit-transform: scaleX(-1);transform: scaleX(-1);" src="{% static opponent_character %}">
                        <div style="left: 6%" class="text-centered">{{ opponent_multiplier }}</div>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    <p>
        {% if player.see_opponent_type %}
            The other player multiplier is {{ player.see_opponent_type }}.
        {% else %}
            The other player did not disclose its multiplier.
        {% endif %}
    </p>
    </br>
        <b>How much money do you want to contribute to the public pot?</b>
    </p>

    <div id="slider-div">
    </div>

{#    {% formfields %}#}

    <input type="hidden" name="contribution" id="contribution" />
{#    <p style="display: none">{{ form.contribution.errors }}</p>#}

{#    {% next_button %}#}
    <script>
        $(document).ready(function () {

            // params
            let min = 0;
            let max = 10;
            let step = 1;
            //let question = 'What was the average value of this symbol?'
            let initValue = range(2, 8, 1)[Math.floor(Math.random() * 10)];

            // generate html
            let sliderHTML = SliderManager.generateSlider({ text: '',
                min: min, max: max, step: step, initValue: initValue});

            let buttonHTML = generateSubmitButton();
            //let imgHTML = generateImg('img/index.png')
            //let questionHTML = generateQuestion(question);

            // insert in html
        //    appendElement('Stage', questionHTML);
            //appendElement('Stage', imgHTML);
            appendElement('slider-div', sliderHTML);
            appendElement('slider-div', buttonHTML);

            // listen on events
            SliderManager.listenOnSlider({}, function (event) {
                    let choice = event.data.slider.val();
                    $('#contribution').val(choice);
            });

            // allows to change value using left and right arrows
            SliderManager.listenOnArrowKeys();
            })

    </script>

{% endblock %}
