{% extends "global/Page.html" %}

{% block title%}
        <!--- Timeline of the experiment ---------------------->
<div class="md-stepper-horizontal black" id="timeline">
    <div class="md-step" id="instructions">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Instructions</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" id="training">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Training</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active" id="experiment">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Experiment</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" id="questionnaire">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Survey</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>
    <br>
<!-------------------------------------------------->
{% endblock %}




{% block content %}
    <div id="main" class="container fade-in">
        <div class="row">
            <div class="col">

                <div style="margin-left: 35%;color: gray;font-weight: bolder;">You <br> ↙</div>
                <div class="box">
                    <img src="{% static player_character %}">
                    <div class="text-centered">{{ player.participant.multiplier }}</div>
                </div>
            </div>
            <div class="col">
                <div style="margin-left: 40%;color: gray;font-weight: bolder;">Experimenter<br> ↘</div>
                <div class="box" style="float: right">
                    <img class="responsive" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);"
                         src="{% static 'img/experimenter.gif' %}">
                </div>
            </div>
        </div>
        <br>
        <p>
            Your total number of points is <b>{{ player.participant.total }}</b><br>
            Your multiplier is <b>{{ player.participant.multiplier }}</b> <br>
            <b>Do you want to disclose your multiplier to the experimenter?  The latter will decide to transmit it
                to the other player or not.</b>
{#            <b>If you choose to hide, the other player won't see your multiplier either.</b>#}
        </p>
        <br>
        <br>
        <div class="row">
            <div class="col" align="center">
                <button type="button" class="drawn-button" id="disc">DISCLOSE</button>
            </div>
            <div class="col" align="center">
                <button type="button" class="drawn-button" id="hide">HIDE</button>
            </div>
        </div>

    </div>

    <script>

        $(document).ready(function () {
            if ({{ training }}) {
                setActiveCurrentStep('training');
            }

            let templateReal = `{{ modalReal }}`;
            let templateSorting = `{{ modalSorting }}`;

            if ({{ real }}) {
                $('#main').append(templateReal);
                {#$("#modalReal").modal();#}
                $('#modalReal').modal('show');
                {#setTimeout(function () {#}
                {#    $('#modalReal').modal('hide');#}
                {#    $('#modalReal').remove();}, 4000); #}

            }

            if ({{ sorting }}) {
                $('#main').append(templateSorting);
                $('#modalSorting').modal('show');
            }

            let startTime = Date.now();
            let RT;
            let disclose;

            let templateWait = `{{ html }}`;

            $('#disc').click(function () {
                choice(1, startTime);
            });

            $('#hide').click(function () {
                choice(0, startTime);
            });

            function choice(value, startTime) {

                RT = Date.now() - startTime;
                console.log(RT);
                disclose = value;

                $('#main').append(templateWait);
                $("#modalWait").modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#modalWait').modal('show');

                var startTime = Date.now();

                setInterval(function () {
                    liveSend(
                        {
                            time: Date.now() - startTime,
                            RT: RT,
                            disclose: disclose
                        });
                }, 2000);

                setInterval(function () {
                        var wait = document.getElementById("wait");

                        if (wait.innerHTML.length >= 3)
                            wait.innerHTML = "";
                        else
                            wait.innerHTML += ".";

                    },
                    500);

            }


        });

        function liveRecv(data) {
            if (data === true) {
                {#console.log('RT = ' + RT);#}
                {#console.log('Disclose = ' + disclose);#}
                {#$('#RT').val(RT);#}
                {#$('#disclose').val(disclose);#}
                $('#main').fadeOut(140);
                $('#form').submit();
            }
        }


    </script>


{% endblock %}
