{% extends "global/Page.html" %}
{% load otree %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">

                <div style="margin-left: 35%;color: gray;font-weight: bolder;">You <br> ↙ </div>
                    <div class="box">
                        <img src="{% static player_character %}">
                        <div class="text-centered">{{ player.participant.multiplier }}</div>
                    </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <br>
    <br>
    <p>
    Your multiplier is {{ player.participant.multiplier }}. <br>
    <b>Do you want to disclose your multiplier to the other player?</b>
    </p>
    <br>
    <br>
   <div class="row">
    <div class="col" align="center" >
        <button class="drawn-button" id="disc">DISCLOSE</button>
    </div>
    <div class="col" align="center">
        <button class="drawn-button" id="hide">HIDE</button>
    </div>
   </div>
    <input type="hidden" id="disclose" name="disclose">

    <script>
        $('#disc').onclick(function () { $('#disclose').val(true)});
        $('#hide').onclick(function () { $('#disclose').val(false)});
    </script>


{% endblock %}
