{% extends "global/Page.html" %}


{% block content %}
{#    <canvas id="timeline"></canvas>#}
    <div class="container fade-in">
            <div class="row">
                <div class="col">

                    <div style="margin-left: 35%;color: gray;font-weight: bolder;">You <br> ↙ </div>
                        <div class="box">
                            <img src="{% static player_character %}">
                            <div class="text-centered">{{ player.participant.multiplier }}</div>
                        </div>
                </div>
                <div class="col">
                </div>
            </div>
        <br>
        <br>
        <p>
        Your multiplier is {{ player.participant.multiplier }}. <br>
        <b>Do you want to disclose your multiplier to the other player?</b>
        </p>
        <br>
        <br>
       <div class="row">
        <div class="col" align="center" >
            <button class="drawn-button" id="disc">DISCLOSE</button>
        </div>
        <div class="col" align="center">
            <button class="drawn-button" id="hide">HIDE</button>
        </div>
       </div>
        <input type="hidden" id="disclose" name="disclose"/>
        <input type="hidden" id="RT" name="RT"/>

    </div>

    <script>
        const startTime = Date.now();
        {#$(document).ready(function () {#}
        {#        const rc = rough.canvas(document.getElementById('timeline'));#}
        {#        rc.circle(80, 120, 50, {#}
        {#            fill: "black",#}
        {#            fillWeight: 5// thicker lines for hachure#}
        {#            }); // centerX, centerY, diameter#}
        {#        rc.line(80, 120, 200, 120, {strokeWidth: 4, color: 'gray'}); // x1, y1, x2, y2#}
        {#        rc.circle(200, 120, 50, {strokeWidth: 4}); // centerX, centerY, diameter#}
        {#    }#}
        {#);#}

        $('#disc').click(function () {
            $('#RT').val(Date.now()-startTime);
            $('#disclose').val(1);
            $('.container').fadeOut(140);
            $('#form').submit();
        });

        $('#hide').click(function () {
            $('#RT').val(Date().now()-startTime);
            $('#disclose').val(0);
            $('.container').fadeOut(140);
            $('#form').submit();
        });
    </script>


{% endblock %}
