{% extends "global/Page.html" %}

{% block title %}
        <!--- Timeline of the experiment ---------------------->
<div class="md-stepper-horizontal black" id="timeline">
    <div class="md-step" id="instructions">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Instructions</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" id="training">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Training</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step" id="experiment">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Experiment</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active" id="questionnaire">
        <div class="md-step-circle"></div>
        <div class="md-step-title">Survey</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>
    <br>
    <br>
<!-------------------------------------------------->
{% endblock %}

{% block content %}

    <div id="text" class="container fade-in">
    <p><br><br>
        You won <b style="font-size: 28px">{{ total }}</b> points which corresponds to <b style="font-size: 28px">{{ pences }}</b> pences  or <b style="font-size: 28px">{{ pounds }}</b> pounds!
        Thanks for your participation! <br>
        You need to fill in a quick survey to complete the experiment: <a href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_8CkSbmrLxxwdr1A
?PanelID={{ player.participant.id_in_session }}&ContactID={{ player.participant.label }}"> Survey. </a>
    </p>
    </div>

{% endblock %}

