{% extends "global/Page.html" %}

{% block content %}
    {#content#}
    <div class="container fade-in" id="main">
        <div class="row">
            <div class="col">
                <div style="margin-left: 35%;color: gray;font-weight: bolder;">You <br> ↙ </div>
                <div class="box" style="float: left">
                    <img src="{% static player_character %}">
                        <div class="text-centered">{{ player_multiplier }}</div>
                </div>
            </div>
            <div class="col">
                <div style="margin-left: 55%;color: gray;font-weight: bolder;">Other player<br> ↘ </div>
                <div class="box" style="float: right">
                    <img style="-webkit-transform: scaleX(-1);transform: scaleX(-1);" src="{% static opp_character %}">
                        <div style="left: 6%" class="text-centered">{{ opp_multiplier }}</div>
                </div>
            </div>
        </div>
    </br>
    </br>
    </br>
    </br>
        <p>
        {% if disclose %}
        The other player multiplier is {{ opp_multiplier }}.
        {% else %}
            The other player was <b>hiding</b> his multiplier. His multiplier is <b>{{ opp_multiplier }}</b>.
        {% endif %}
        <p style="text-align: center; font-size: larger">
         Your share = {{ group.individual_share }} = (({{ player.contribution }} x <b style="color: {{ player_color }}">{{ player_multiplier }}</b>) +
            ({{opp_contribution}} x <b style="color: {{ opp_color }}">{{ opp_multiplier }}</b>)) / 2 <br>
            Your final reward = <b>{{ player.payoff }} </b>= {{ Constants.endowment }} - {{ player.contribution }} +  {{ group.individual_share }}

        </p>

    </br>

    </div>

    <script>

        $(document).ready(function () {
            let startTime = Date.now();
            setInterval(function () {
                    liveSend(
                        {
                            time: Date.now() - startTime,
                        });
            }, 1500);

        });

        function liveRecv(data) {
                if (data===true) {
                    {#console.log('RT = ' + RT);#}
                    {#console.log('contribution = ' + contribution);#}
                    {#$('#RT').val(RT);#}
                    {#$('#disclose').val(disclose);#}
                    {#$('#main').fadeOut(140);#}
                    {#$('#form').submit();#}
                }
        }

    </script>

    {#content#}

{% endblock %}
