{% extends "global/Page.html" %}
{% load otree %}

{% block app_scripts %}
    <script src="{% static 'js/tween.umd.js' %}"> </script>
    <script src="{% static 'js/slider.js' %}"> </script>
{% endblock %}

{% block app_styles %}
    <link href="{% static 'css/slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <style>
        @font-face {
            font-family: "FuturaHandwritten";
            src: url(' {% static "font/FuturaHandwritten.ttf" %}');
        }

        body {
            font-family: "FuturaHandwritten";
        }
    </style>
{% endblock %}


