{% extends "otree/Page.html" %}

{% load otree %}

{% block global_styles  %}
     <link href="{% static 'css/slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <style>
        @font-face {
            font-family: "FuturaHandwritten";
            src: url(' {% static "font/FuturaHandwritten.ttf" %}');
        }

        body {
            font-family: "FuturaHandwritten";
            font-size: 20px;
            {#background-color: #E6E6E6;#}
        }
    </style>
{% endblock %}

{% block global_scripts  %}
    <script src="{% static 'js/tween.umd.js' %}"> </script>
    <script src="{% static 'js/slider.js' %}"> </script>
{% endblock %}
